[data-callout='tabbed'] {
  --callout-color: 255, 255, 255;
  /* outline: 1px solid var(--color-base-30); */
  border-radius: 0.5rem;
  padding-top: 15px;
  margin: 0;
}
[data-callout='tabbed'] > .callout-content {
  padding: 0rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, max-content));
  gap: 0 0.5rem;

  border: none;
}
[data-callout='tabbed'] > .callout-title {
  display: none;
}
[data-callout='tabbed'] > .callout-content p {
  margin: 0;
}
[data-callout='tabbed'] > .callout-content label > input {
  display: none;
}
[data-callout='tabbed'] > .callout-content label {
  width: 100%;
  display: inline-block;
  padding: 0rem 0ch;
  border-radius: 0.2rem;

  /* border: solid 1px var(--titlebar-background); */
  background: color-mix(in srgb, var(--background-primary) 97%, white);

  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
}
.theme-light [data-callout='tabbed'] > .callout-content label {
  background: color-mix(in srgb, var(--titlebar-background-focused) 30%, white);
}

[data-callout='tabbed'] > .callout-content label:has(input:checked) {
  background-color: color-mix(in srgb, var(--background-primary) 92%, white);
}
.theme-light
  [data-callout='tabbed']
  > .callout-content
  label:has(input:checked) {
  background-color: var(--tab-background-active);
  border: solid 1px var(--titlebar-background-focused);
}

[data-callout='tabbed']
  > .callout-content
  p:not(:has(label input:checked))
  + blockquote {
  display: none;
}
[data-callout='tabbed'] > .callout-content > blockquote {
  order: 999;
  grid-column: 1 / -1;

  background-color: transparent;
  padding-left: 0;
  border: 0;
  margin-top: 2px;
}

/* fixes */

.callout[data-callout='tabbed'] .prop-checkbox {
  transform: translate(6px, 3px);
}

[data-callout='tabbed'] .callout,
[data-callout='tabbed'] > .callout-content > blockquote {
  margin-top: 2px;
  padding-right: 0;
}
