/* https://forum.obsidian.md/t/properties-view-css-the-fall-collection/66512 */

[data-property-key='sr-due'],
[data-property-key='sr-interval'],
[data-property-key='sr-ease'],
[data-property-key='created'],
[data-property-key='updated'],
[data-property-key='journal'],
[data-property-key='journal-start-date'],
[data-property-key='journal-end-date'],
[data-property-key='journal-section'],
[data-property-key='obsidianUIMode'],
[data-property-key='isCategory'],
[data-property-key='BC-tag-note'],
[data-property-key='BC-tag-note-field'],
[data-property-key='longform'],
[data-property-key$='_type'],
[data-property-key$='_status'],
[data-property-key$='_priority'],
[data-property-key$='_relevant'],
[data-property-key$='_scientificity'],
[data-property-key$='_rating'],
[data-property-key$='_category'],
[data-property-key$='_meta'],
[data-property-key$='_problem'],
[data-property-key$='_genre'],
[data-property-key$='_creator'],
[data-property-key$='_production'],
[data-property-key$='_title'] {
  display: none;
}

/* --- */

body {
  --metadata-label-width: 5em;
  --metadata-gap: 0;
  --metadata-padding: 0;
}

.metadata-property-icon,
.metadata-property-warning-icon,
.metadata-container .metadata-property-value .clickable-icon {
  display: none;
}

.multi-select-container,
.metadata-input-number {
  padding: 0 !important;
  margin: 0 !important;
  gap: 0 !important;
}

.metadata-property-key-input.metadata-property-key-input {
  margin-left: 3px;
}

.metadata-properties {
  margin-top: 3px;
}

.markdown-source-view.is-live-preview.show-properties .metadata-container {
  display: none;
}

/* metadatamenu */

.field-btn-container button.property-metadata-menu,
.metadata-content .action-container .fileclass-btn-container .add-field-button {
  background: transparent;
  color: gray;
  padding: 0;
  margin: 0;
  height: calc(var(--input-height));
  width: calc(var(--input-height) * 0.7);
}

.metadata-menu.modal-container.note-fields-modal .modal {
  width: 705px;
}

.metadata-menu.modal-container.note-fields-modal .modal .field-value-wrapper {
  min-width: 375px;
  max-width: 375px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box;
  position: relative;
  transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    padding 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  max-height: 1.5em;
  padding: 0;
}

.metadata-menu.modal-container.note-fields-modal
  .modal
  .field-value-wrapper:hover {
  white-space: normal;
  overflow-wrap: break-word;
  overflow: visible;
  min-width: 375px;
  max-width: 375px;
  position: relative;
  z-index: 10;
  max-height: 10em;
}
