/* core mechanics */
.data-link-icon[data-link-icon]::before {
  content: attr(data-link-icon, '📝') ' ';
}

.cm-hmd-internal-link .data-link-text,
.data-link-icon[data-link-color] {
  color: attr(data-link-color type(<color>), inherit);
}

/* status */
.data-link-icon[data-link-status='📥' i]::before {
  border-left: solid #f7bb73;
  border-bottom: solid #f7bb73;
  border-radius: 100px;
  border-width: 3px;
}

.data-link-icon[data-link-status='🟥' i]::before {
  border-left: solid #ff1100;
  border-bottom: solid #ff1100;
  border-radius: 100px;
  border-width: 3px;
}

.data-link-icon[data-link-status='🟦' i]::before {
  border-left: solid #00ffff;
  border-bottom: solid #00ffff;
  border-radius: 100px;
  border-width: 3px;
}

.data-link-icon[data-link-status='⚛' i]::before {
  border-left: solid #dd00ff;
  border-bottom: solid #dd00ff;
  border-radius: 100px;
  border-width: 3px;
}

.data-link-icon[data-link-status='🟩' i]::before {
  border-left: solid #88ff00;
  border-bottom: solid #88ff00;
  border-radius: 100px;
  border-width: 3px;
}

.data-link-icon[data-link-status='⬛' i]::before {
  border-left: solid #787878;
  border-bottom: solid #787878;
  border-radius: 100px;
  border-width: 3px;
}

.data-link-icon[data-link-status='❄' i]::before {
  border-left: solid #ffffff;
  border-bottom: solid #43aeff;
  border-radius: 100px;
  border-width: 3px;
}

.data-link-icon[data-link-status='📢' i]::before {
  border-left: solid #ffffff;
  border-bottom: solid #88ff00;
  border-radius: 100px;
  border-width: 3px;
}

.data-link-icon[data-link-status='⚙️' i]::before {
  border-left: solid #a0a0c0;
  border-bottom: solid #a0a0c0;
  border-radius: 100px;
  border-width: 3px;
}

.data-link-icon[data-link-status='💡' i]::before {
  border-left: solid #ffe000;
  border-bottom: solid #ffe000;
  border-radius: 100px;
  border-width: 3px;
}

.data-link-icon[data-link-status='🧠' i]::before {
  border-left: solid #ff8c00;
  border-bottom: solid #ff8c00;
  border-radius: 100px;
  border-width: 3px;
}

.data-link-icon[data-link-status='🔎' i]::before {
  border-left: solid #4488ff;
  border-bottom: solid #4488ff;
  border-radius: 100px;
  border-width: 3px;
}

.data-link-icon[data-link-status='📋' i]::before {
  border-left: solid #cc88ff;
  border-bottom: solid #cc88ff;
  border-radius: 100px;
  border-width: 3px;
}

.data-link-icon[data-link-status='🖍' i]::before {
  border-left: solid #ff66aa;
  border-bottom: solid #ff66aa;
  border-radius: 100px;
  border-width: 3px;
}

.data-link-icon[data-link-status='📦' i]::before {
  border-left: solid #c08040;
  border-bottom: solid #c08040;
  border-radius: 100px;
  border-width: 3px;
}

/* source */

.prompt-results
  [data-link-tags*='#source' i]:not([data-link-tags*='#mark/log' i]),
.tree-item-self
  [data-link-tags*='#source' i]:not([data-link-tags*='#mark/log' i]) {
  text-decoration: underline;
}

/* system */
[data-link-tags*='#system' i],
.bases-view [data-link-tags*='#system' i] {
  text-decoration: underline !important;
}

[data-link-tags*='#system/genre' i] {
  color: #c8604a !important;
}

.data-link-icon[data-link-tags*='#system/genre' i]::before {
  content: '🎭 ';
}

[data-link-reviewed*='true' i]::before {
  border-left: solid #88ff00;
  border-bottom: solid #88ff00;
  border-radius: 100px;
  border-width: 2px;
}

[data-link-reviewed*='false' i]::before {
  border-left: solid #ff1100;
  border-bottom: solid #ff1100;
  border-radius: 100px;
  border-width: 2px;
}

/* discourse */

.data-link-icon[data-link-tags*='#note/discourse/question' i][data-link-tags*='#note/basic/seed' i]::before {
  content: '🌱❓ ' !important;
}

.data-link-icon[data-link-tags*='#note/discourse/question' i][data-link-tags*='#note/basic/fern' i]::before {
  content: '🌿❓ ' !important;
}

.data-link-icon[data-link-tags*='#note/discourse/question' i][data-link-tags*='#note/basic/incubator' i]::before {
  content: '♨️❓ ' !important;
}

.data-link-icon[data-link-tags*='#note/discourse/question' i][data-link-tags*='#note/basic/evergreen' i]::before {
  content: '🌲❓ ' !important;
}

/* mark */

[data-link-tags*='#mark/addition/aggregator' i] {
  color: #7a7d88 !important;
}

.prompt-results
  .data-link-icon[data-link-tags*='#mark/addition/aggregator' i]::before,
.tree-item-self
  .data-link-icon[data-link-tags*='#mark/addition/aggregator' i]::before,
.workspace-tab-header
  .data-link-icon[data-link-tags*='#mark/addition/aggregator' i]::before,
.mod-left-split
  .bases-view
  .data-link-icon[data-link-tags*='#mark/addition/aggregator' i]::before,
.suggestion-container
  .data-link-icon[data-link-tags*='#mark/addition/aggregator' i]::before {
  content: '➕ ';
}

.data-link-icon-after[data-link-tags*='#mark/aggregator' i]::after {
  content: ' ⇶' !important;
  color: orange !important;
}

.data-link-icon-after[data-link-tags*='#mark/approved' i]::after {
  content: ' ϟ';
  color: rgb(196, 184, 79) !important;
}

.data-link-icon-after[data-link-tags*='#mark/approved' i][data-link-tags*='#mark/aggregator' i]::after {
  content: ' ϟ⇶';
  color: orange;
}

.data-link-icon-after[data-link-tags*='#mark/ignore' i]::after {
  content: '⁻';
  color: rgb(255, 0, 0) !important;
}

.data-link-icon[data-link-tags*='#mark/my' i]::before {
  content: '💎 ';
}

.data-link-icon-after[data-link-tags*='#mark/example' i]::after {
  content: ' 🧩';
}

[data-link-tags*='#mark/quote' i] {
  color: #b0b0b0 !important;
}

.data-link-icon[data-link-tags*='#mark/quote' i]::before {
  content: '💭 ' !important;
}

[data-link-tags*='#mark/kanban' i] {
  color: #c5c5c5 !important;
}

.data-link-icon[data-link-tags*='#mark/kanban' i]::before {
  content: '📋 ';
}

.data-link-icon-after[data-link-tags*='#mark/no_sync' i]::after {
  color: gray;
  content: "'";
}

[data-link-tags*='#mark/ai' i] {
  color: #a080b5 !important;
}

.data-link-icon[data-link-tags*='#mark/ai' i]::before {
  content: '🤖 ' !important;
}

[data-link-tags*='#mark/bookmark' i] {
  color: #c8b050 !important;
}

.data-link-icon[data-link-tags*='#mark/bookmark' i]::before {
  content: '⭐️ ' !important;
}

/* --- */
.data-link-icon[data-link-path^='templates/' i]::before,
.data-link-icon[data-link-path^='periodic/templates' i]::before {
  content: '(template) ';
  color: rgb(156, 0, 156);
}

/* --- */
.data-link-icon[data-link-path$='.pdf' i]::before {
  content: '📄 ';
}

.data-link-icon[data-link-path$='.png' i]::before,
.data-link-icon[data-link-path$='.jpg' i]::before {
  content: '🖼️ ';
}

.data-link-icon[data-link-path$='.canvas' i]:not(
    .multi-select-pill-content
  )::before {
  content: '⬜ ' !important;
}

.data-link-icon[data-link-tags*='#mark/excalidraw' i]::before {
  content: '🖌 ' !important;
}
