/* (currently only matrix) */

.BC-Matrix.BC-Matrix.BC-Matrix.BC-Matrix ol > li .BC-Link {
  font-family: --var(--font-interface-theme);
}

.BC-Matrix.BC-Matrix.BC-Matrix ol > li {
  padding: var(--size-4-1);
  margin: 0px;
  line-height: 1.2;
  width: 96%;
  border-radius: 5px;
  margin-left: 4px;
}

.BC-Matrix ol > li::marker {
  content: none;
}

/* links */
.BC-Matrix.BC-Matrix.BC-Matrix ol > li:hover {
  cursor: var(--cursor-link);
  background-color: var(--nav-item-background-hover);
}

.BC-Matrix.BC-Matrix ol > li .BC-Link {
  font-family: var(--font-interface-theme);
  font-size: var(--nav-item-size);
  color: var(--nav-item-color);
}

.BC-Matrix.BC-Matrix ol > li:hover .BC-Link {
  color: var(--nav-item-color-hover);
}

.BC-Matrix.BC-Matrix.BC-Matrix.BC-Matrix ol > li .BC-Link {
  text-decoration: none;
}

.BC-Link.is-unresolved.is-unresolved.is-unresolved {
  color: var(--link-unresolved-color);
  opacity: var(--link-unresolved-opacity);
}

.BC-Matrix-headers.BC-Matrix-headers.BC-Matrix-headers.BC-Matrix-headers {
  display: flex;
  font-size: 12px;
  margin: 0px;
  padding-right: 3px;
}

.BC-Matrix-header.svelte-1p44ezg.svelte-1p44ezg {
  text-align: left;
  border: 1px solid rgba(134, 134, 134, 0.4);
  width: 100%;
  background: #212121;
  margin: 0px;
  padding: 0px;
}

.workspace-leaf-content[data-type="BC-matrix"] > .view-content {
  padding-top: 0;
}

.BC-Matrix-square.BC-Matrix-square.BC-Matrix-square.BC-Matrix-square.BC-Matrix-square:first-child {
  padding-top: 0;
}

pre.indent.svelte-1df5nr5 {
  border: none;
}

/* overscroll */
.BC-Matrix-square.BC-Matrix-square.BC-Matrix-square.BC-Matrix-square.BC-Matrix-square:last-child {
  margin-bottom: 0px;
  border: none;
}

.view-content .BC-Matrix .BC-Matrix-square ol {
  padding-left: 0;
  margin: 0;
}

body
  .app-container
  .workspace-leaf-content[data-type="BC-matrix"]
  .view-content {
  padding: 0 0 3px 2px;
}

.BC-Matrix-square.BC-Matrix-square.BC-Matrix-square.BC-Matrix-square.BC-Matrix-square {
  border: none;
  /* border-bottom: var(--thin-muted-border); */
}

.BC-Matrix.BC-Matrix.BC-Matrix.BC-Matrix div {
  margin: 0;
  border: none;
}

.BC-Matrix.BC-Matrix.BC-Matrix.BC-Matrix {
  padding: 0;
}

.workspace-leaf-content[data-type="BC-matrix"] .view-content button {
  display: none;
}

.BC-Matrix-square li {
  padding-left: var(--size-2-2);
}

.BC-Matrix-square li:nth-child(even) {
  /* color for every second line */
  background-color: var(--a-row);
}

.BC-Matrix .BC-Link {
  width: 100%;
  padding-right: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
