/* centered text */

.canvas-node-container {
  text-align: center;
}
.canvas-node-container .is-loaded {
  text-align: left;
}

/* remove node label */

.canvas-node .canvas-node-label {
  display: none;
}

/* remove rounder corners */

.canvas-node-container {
  border-radius: 0;
}
.canvas-wrapper {
  --shadow-stationary: none;
}
