.category {
  --file-line-width: 100%;
}

.category .tabs-container {
  padding-top: 10px;
}

/* dataview */

.category [data-callout="tabbed"] td,
.category [data-callout="tabbed"] th {
  text-wrap: nowrap !important;
  padding: 2px !important;
}

.category .edit-button {
  padding: 1px !important;
  border-radius: 0;
}

/* hide view button in categories */
.category .dvit-button.change-view-button,
.category .embedded-backlinks,
.category .inline-title {
  display: none;
}

/* table on the left */
.category.markdown-preview-view table,
.category.is-live-preview table {
  margin-left: 0;
  margin-right: auto;
}
