.inline-title:not([data-level]) {
  margin: 0;
  padding: 0;

  text-align: center;
  color: rgb(209, 209, 209);
  font-variant-caps: small-caps;
  line-height: 0.9;

  background: #232323;

  border-radius: 5px;
  border: 1px solid;
}

/* fix */
.markdown-source-view .inline-title {
  margin-left: 0em;
}

.markdown-preview-view .inline-title {
  margin-top: 38px;
  margin-bottom: 32px;
}

.hover-popover .inline-title {
  margin-top: 0px;
  display: block;
  text-align: center;
  font-size: var(--font-text);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
