.theme-light,
.theme-dark {
  --popover-width: 600px;
  --popover-height: 400px;
}

.popover.hover-editor .popover-titlebar {
  display: none;
}

/* fix fonts and title-bar for hover editor */
.popover.hover-editor .markdown-preview-view {
  font-size: var(--font-text-size);
}

.popover.hover-editor .popover-titlebar {
  --he-title-bar-active-bg: var(--bg4);
  --he-title-bar-active-pinned-bg: var(--bg4);
  --he-title-bar-inactive-bg: #1f1f1f;
  --he-title-bar-inactive-pinned-bg: #1f1f1f;
  border: var(--thin-border);
  border-radius: var(--radius-s);
}
