.view-header {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.view-header:hover {
  opacity: 1;
}

.link-navigator-details-wrapper {
  position: absolute;
  bottom: 25px;
  right: 0px;
}

.view-header-title-parent {
  display: none;
}

.view-header-title {
  display: none;
  font-size: 1.1em;
  padding: 3px 5px 3px 5px;
  border: solid 1px;
  border-radius: 3px;
}
