.tag[href="#task/inbox"],
.cm-tag-taskinbox,
.tag[href="#task/idea"],
.cm-tag-taskidea,
.tag[href="#task/one-off"],
.cm-tag-taskone-off,
.tag[href="#task/multistep"],
.cm-tag-taskmultistep,
.tag[href="#task/next_action"],
.cm-tag-tasknext_action,
.cm-tag-tasknext_action + span.cm-hashtag,
.cm-tag-tasknext_action + span.cm-hashtag + .cm-hashtag,
.tag[href="#task/reference"],
.cm-tag-taskreference,
.tag[href="#task/waiting_for"],
.cm-tag-taskwaiting_for,
.cm-tag-taskwaiting_for + span.cm-hashtag,
.cm-tag-taskwaiting_for + span.cm-hashtag + .cm-hashtag,
.tag[href="#task/someday"],
.cm-tag-tasksomeday,
.tag[href="#task/regular"],
.cm-tag-taskregular,
.tag[href="#priority/a"],
.cm-tag-prioritya,
.tag[href="#priority/b"],
.cm-tag-priorityb,
.tag[href="#priority/c"],
.cm-tag-priorityc,
.tag[href="#priority/d"],
.cm-tag-priorityd,
.tag[href="#priority/e"],
.cm-tag-prioritye,
.tag[href="#time/quick"],
.cm-tag-timequick,
.tag[href="#time/moderate"],
.cm-tag-timemoderate,
.tag[href="#time/lengthy"],
.cm-tag-timelengthy,
.tag[href="#time/long"],
.cm-tag-timelong,
.tag[href="#effort/easy"],
.cm-tag-efforteasy,
.tag[href="#effort/medium"],
.cm-tag-effortmedium,
.tag[href="#effort/hard"],
.cm-tag-efforthard,
.tag[href="#category/study"],
.cm-tag-categorystudy,
.tag[href="#category/work"],
.cm-tag-categorywork,
.tag[href="#category/english"],
.cm-tag-categoryenglish,
.tag[href="#category/health"],
.cm-tag-categoryhealth,
.tag[href="#category/games"],
.cm-tag-categorygames,
.tag[href="#category/obsidian"],
.cm-tag-categoryobsidian {
  font-size: 0px;
  padding: 0;
}

.tag[href="#task/inbox"]:after,
.cm-tag-taskinbox:after,
.tag[href="#task/idea"]:after,
.cm-tag-taskidea:after,
.tag[href="#task/one-off"]:after,
.cm-tag-taskone-off:after,
.tag[href="#task/multistep"]:after,
.cm-tag-taskmultistep:after,
.tag[href="#task/next_action"]:after,
.cm-tag-tasknext_action:after,
.cm-tag-tasknext_action + span.cm-hashtag:after,
.cm-tag-tasknext_action + span.cm-hashtag + .cm-hashtag:after,
.tag[href="#task/reference"]:after,
.cm-tag-taskreference:after,
.tag[href="#task/waiting_for"]:after,
.cm-tag-taskwaiting_for:after,
.cm-tag-taskwaiting_for + span.cm-hashtag:after,
.cm-tag-taskwaiting_for + span.cm-hashtag + .cm-hashtag:after,
.tag[href="#task/someday"]:after,
.cm-tag-tasksomeday:after,
.tag[href="#task/regular"]:after,
.cm-tag-taskregular:after,
.tag[href="#priority/a"]:after,
.cm-tag-prioritya:after,
.tag[href="#priority/b"]:after,
.cm-tag-priorityb:after,
.tag[href="#priority/c"]:after,
.cm-tag-priorityc:after,
.tag[href="#priority/d"]:after,
.cm-tag-priorityd:after,
.tag[href="#priority/e"]:after,
.cm-tag-prioritye:after,
.tag[href="#time/quick"]:after,
.cm-tag-timequick:after,
.tag[href="#time/moderate"]:after,
.cm-tag-timemoderate:after,
.tag[href="#time/lengthy"]:after,
.cm-tag-timelengthy:after,
.tag[href="#time/long"]:after,
.cm-tag-timelong:after,
.tag[href="#effort/easy"]:after,
.cm-tag-efforteasy:after,
.tag[href="#effort/medium"]:after,
.cm-tag-effortmedium:after,
.tag[href="#effort/hard"]:after,
.cm-tag-efforthard:after,
.tag[href="#category/study"]:after,
.cm-tag-categorystudy:after,
.tag[href="#category/work"]:after,
.cm-tag-categorywork:after,
.tag[href="#category/english"]:after,
.cm-tag-categoryenglish:after,
.tag[href="#category/health"]:after,
.cm-tag-categoryhealth:after,
.tag[href="#category/games"]:after,
.cm-tag-categorygames:after,
.tag[href="#category/obsidian"]:after,
.cm-tag-categoryobsidian:after {
  font-size: var(--font-text-size);
}

.cm-active .tag[href="#task/inbox"],
.cm-active .cm-tag-taskinbox,
.cm-active .tag[href="#task/idea"],
.cm-active .cm-tag-taskidea,
.cm-active .tag[href="#task/one-off"],
.cm-active .cm-tag-taskone-off,
.cm-active .tag[href="#task/multistep"],
.cm-active .cm-tag-taskmultistep,
.cm-active .tag[href="#task/next_action"],
.cm-active .cm-tag-tasknext_action,
.cm-active .cm-tag-tasknext_action + span.cm-hashtag,
.cm-active .cm-tag-tasknext_action + span.cm-hashtag + .cm-hashtag,
.cm-active .tag[href="#task/reference"],
.cm-active .cm-tag-taskreference,
.cm-active .tag[href="#task/waiting_for"],
.cm-active .cm-tag-taskwaiting_for,
.cm-active .cm-tag-taskwaiting_for + span.cm-hashtag,
.cm-active .cm-tag-taskwaiting_for + span.cm-hashtag + .cm-hashtag,
.cm-active .tag[href="#task/someday"],
.cm-active .cm-tag-tasksomeday,
.cm-active .tag[href="#task/regular"],
.cm-active .cm-tag-taskregular,
.cm-active .tag[href="#priority/a"],
.cm-active .cm-tag-prioritya,
.cm-active .tag[href="#priority/b"],
.cm-active .cm-tag-priorityb,
.cm-active .tag[href="#priority/c"],
.cm-active .cm-tag-priorityc,
.cm-active .tag[href="#priority/d"],
.cm-active .cm-tag-priorityd,
.cm-active .tag[href="#priority/e"],
.cm-active .cm-tag-prioritye,
.cm-active .tag[href="#time/quick"],
.cm-active .cm-tag-timequick,
.cm-active .tag[href="#time/moderate"],
.cm-active .cm-tag-timemoderate,
.cm-active .tag[href="#time/lengthy"],
.cm-active .cm-tag-timelengthy,
.cm-active .tag[href="#time/long"],
.cm-active .cm-tag-timelong,
.cm-active .tag[href="#effort/easy"],
.cm-active .cm-tag-efforteasy,
.cm-active .tag[href="#effort/medium"],
.cm-active .cm-tag-effortmedium,
.cm-active .tag[href="#effort/hard"],
.cm-active .cm-tag-efforthard,
.cm-active .tag[href="#category/study"],
.cm-active .cm-tag-categorystudy,
.cm-active .tag[href="#category/work"],
.cm-active .cm-tag-categorywork,
.cm-active .tag[href="#category/english"],
.cm-active .cm-tag-categoryenglish,
.cm-active .tag[href="#category/health"],
.cm-active .cm-tag-categoryhealth,
.cm-active .tag[href="#category/games"],
.cm-active .cm-tag-categorygames,
.cm-active .tag[href="#category/obsidian"],
.cm-active .cm-tag-categoryobsidian {
  font-size: var(--font-text-size);
}

.tag[href="#task/inbox"]:after,
.cm-hashtag-begin.cm-tag-taskinbox:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "📥";
}

.tag[href="#task/idea"]:after,
.cm-hashtag-begin.cm-tag-taskidea:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "💡";
}

.tag[href="#task/one-off"]:after,
.cm-hashtag-begin.cm-tag-taskone-off:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "1️⃣";
}

.tag[href="#task/multistep"]:after,
.cm-hashtag-begin.cm-tag-taskmultistep:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "🏗";
}

.tag[href="#task/next_action"]:after,
.cm-hashtag-begin.cm-tag-tasknext_action:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "🚀";
}

.tag[href="#task/reference"]:after,
.cm-hashtag-begin.cm-tag-taskreference:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "🔗";
}

.tag[href="#task/waiting_for"]:after,
.cm-hashtag-begin.cm-tag-taskwaiting_for:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "💤";
}

.tag[href="#task/someday"]:after,
.cm-hashtag-begin.cm-tag-tasksomeday:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "🤷";
}

.tag[href="#task/regular"]:after,
.cm-hashtag-begin.cm-tag-taskregular:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "🔁";
}

.tag[href="#priority/a"]:after,
.cm-hashtag-begin.cm-tag-prioritya:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "🇦";
}

.tag[href="#priority/b"]:after,
.cm-hashtag-begin.cm-tag-priorityb:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "🇧";
}

.tag[href="#priority/c"]:after,
.cm-hashtag-begin.cm-tag-priorityc:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "🇨";
}

.tag[href="#priority/d"]:after,
.cm-hashtag-begin.cm-tag-priorityd:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "🇩";
}

.tag[href="#priority/e"]:after,
.cm-hashtag-begin.cm-tag-prioritye:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "🇪";
}

.tag[href="#time/quick"]:after,
.cm-hashtag-begin.cm-tag-timequick:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "🤏";
}

.tag[href="#time/moderate"]:after,
.cm-hashtag-begin.cm-tag-timemoderate:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "🐰";
}

.tag[href="#time/lengthy"]:after,
.cm-hashtag-begin.cm-tag-timelengthy:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "🐢";
}

.tag[href="#time/long"]:after,
.cm-hashtag-begin.cm-tag-timelong:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "🐌";
}

.tag[href="#effort/easy"]:after,
.cm-hashtag-begin.cm-tag-efforteasy:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "❤";
}

.tag[href="#effort/medium"]:after,
.cm-hashtag-begin.cm-tag-effortmedium:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "❤️‍🔥";
}

.tag[href="#effort/hard"]:after,
.cm-hashtag-begin.cm-tag-efforthard:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "🫀";
}

.tag[href="#category/study"]:after,
.cm-hashtag-begin.cm-tag-categorystudy:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "🎓";
}

.tag[href="#category/work"]:after,
.cm-hashtag-begin.cm-tag-categorywork:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "⛏️";
}

.tag[href="#category/english"]:after,
.cm-hashtag-begin.cm-tag-categoryenglish:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "🇺🇸";
}

.tag[href="#category/health"]:after,
.cm-hashtag-begin.cm-tag-categoryhealth:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "❤️";
}

.tag[href="#category/games"]:after,
.cm-hashtag-begin.cm-tag-categorygames:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "🎮";
}

.tag[href="#category/obsidian"]:after,
.cm-hashtag-begin.cm-tag-categoryobsidian:after {
  background-color: rgba(162, 93, 53, 0.1);
  border: solid 1px rgba(209, 209, 209, 0.1);
  border-radius: 3px;
  content: "🟣";
}

