#calendar-container .today {
  color: var(--text-accent);
  border: solid;
  border-color: var(--text-accent);
  border-width: 2px;
}

.container.svelte-pcimu8 {
  margin-top: 10px;
}

/* Show weekends */
#calendar-container {
  --color-background-heading: rgba(0, 0, 0, 0.1);
  --color-background-weekend: rgba(0, 0, 0, 0.1);
  --color-background-weeknum: rgba(0, 0, 0, 0.1);
}

/* --- */
