/* hide default action */
.empty-state-action {
  display: none;
}

/* hide metadata menu icon (status bar) */
.plugin-metadata-menu {
  display: none;
}

/* hide close button */
.search-input-clear-button {
  display: none;
}

/* better command pallete */

.better-command-palette .better-command-palette-title,
.prompt-instructions {
  display: none;
}

/* bookmarks hide icons */
.workspace-leaf-content[data-type="bookmarks"] .tree-item-icon {
  display: none;
}

.workspace-leaf-content[data-type="bookmarks"] .tree-item-self {
  position: relative;
  left: -15px;
}

.view-action.mod-bookmark {
  display: none;
}
