/* quiet outline */
.quiet-outline .n-button {
  display: none !important;
}

.quiet-outline .n-base-clear {
  display: none !important;
}

.quiet-outline .n-input .n-input-wrapper {
  background: #1f1f1f;
}

.quiet-outline,
.mod-right-split .workspace-tabs:last-child .workspace-leaf .view-content {
  /* padding-bottom: 3px; */
  padding-bottom: unset;
}

.quiet-outline code {
  display: none;
}

/* heading customize */
.quiet-outline
  .n-tree
  .n-tree-node.level-1
  > .n-tree-node-content
  .n-tree-node-content__text,
.quiet-outline
  .n-tree
  .n-tree-node.level-1
  > .n-tree-node-content
  .n-tree-node-content__text
  a.tag {
  /* background: #212121; */
  border-bottom: solid;
  border-color: rgba(134, 134, 134, 0.4);
  border-width: 1px;
  font-weight: 600;
}

.quiet-outline
  .n-tree
  .n-tree-node.level-2
  > .n-tree-node-content
  .n-tree-node-content__text,
.quiet-outline
  .n-tree
  .n-tree-node.level-2
  > .n-tree-node-content
  .n-tree-node-content__text
  a.tag {
  font-weight: normal;
}

.quiet-outline
  .n-tree
  .n-tree-node.level-3
  > .n-tree-node-content
  .n-tree-node-content__text,
.quiet-outline
  .n-tree
  .n-tree-node.level-3
  > .n-tree-node-content
  .n-tree-node-content__text
  a.tag {
  font-weight: lighter;
  font-style: normal;
  color: white;
}

.quiet-outline
  .n-tree
  .n-tree-node.level-4
  > .n-tree-node-content
  .n-tree-node-content__text,
.quiet-outline
  .n-tree
  .n-tree-node.level-4
  > .n-tree-node-content
  .n-tree-node-content__text
  a.tag {
  font-weight: lighter;
  font-style: italic;
}

.quiet-outline
  .n-tree
  .n-tree-node.level-5
  > .n-tree-node-content
  .n-tree-node-content__text,
.quiet-outline
  .n-tree
  .n-tree-node.level-5
  > .n-tree-node-content
  .n-tree-node-content__text
  a.tag {
  font-weight: lighter;
  font-style: italic;
}
